name: "Build, Test, Lint"
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go matrix
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Build
        run: make build
  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Lint
        run: make lint
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Run tests
        run: make unit-test
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build image
        run: make docker-build
  go-check:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      # if this fails, run go mod tidy
      - name: Check if module files are consistent with code
        run: go mod tidy && git diff --exit-code
  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
      - name: Generate coverage report
        run: make unit-test
      - name: Upload to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: cover.out
